{% extends 'base.html.twig' %}

{% block title %}Subscription index{% endblock %}

{% block body %}
    <h1>Subscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginDate</th>
                <th>EndDate</th>
                <th>Contact</th>
                <th>Product</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.id }}</td>
                <td>{{ subscription.beginDate ? subscription.beginDate|date('Y-m-d') : '' }}</td>
                <td>{{ subscription.endDate ? subscription.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    {% if subscription.contact is not empty %}
                        {% for contact in subscription.contact %}
                            {{ contact.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        Aucun contact
                    {% endif %}
                </td>

                <td>
                    {% if subscription.product is not empty %}
                        {% for product in subscription.product %}
                            {{ product.label }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        Aucun produit
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_subscription_show', {'id': subscription.id}) }}">show</a>
                    <a href="{{ path('app_subscription_edit', {'id': subscription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subscription_new') }}">Create new</a>
{% endblock %}
