{% extends 'base.html.twig' %}

{% block title %}Subscription{% endblock %}

{% block body %}
    <h1>Subscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subscription.id }}</td>
            </tr>
            <tr>
                <th>BeginDate</th>
                <td>{{ subscription.beginDate ? subscription.beginDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ subscription.endDate ? subscription.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Contacts</th>
                <td>
                    {% if subscription.contact is not empty %}
                            {% for contact in subscription.contact %}
                                <li>{{ contact.name }}</li>
                            {% endfor %}
                    {% else %}
                        Aucun contact
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Produits</th>
                <td>
                    {% if subscription.product is not empty %}
                            {% for product in subscription.product %}
                                <li>{{ product.label }}</li>
                            {% endfor %}
                    {% else %}
                        Aucun produit
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_subscription_index') }}">back to list</a>

    <a href="{{ path('app_subscription_edit', {'id': subscription.id}) }}">edit</a>

    {{ include('subscription/_delete_form.html.twig') }}
{% endblock %}
